@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Regular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Regular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/Regular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/LightItalic/roboto-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/LightItalic/roboto-lightitalic.woff") format("woff"), url("../fonts/Roboto/LightItalic/roboto-lightitalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Black/roboto-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Black/roboto-black.woff") format("woff"), url("../fonts/Roboto/Black/roboto-black.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Bold/roboto-bold.woff") format("woff"), url("../fonts/Roboto/Bold/roboto-bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Light/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Light/roboto-light.woff") format("woff"), url("../fonts/Roboto/Light/roboto-light.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/OpenSans/ExtraBold/opensans-extrabold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/Bold/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/Bold/opensans-bold.woff") format("woff"), url("../fonts/OpenSans/Bold/opensans-bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/Light/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/Light/opensans-light.woff") format("woff"), url("../fonts/OpenSans/Light/opensans-light.ttf") format("truetype"); }
