$color-1-0: #31353d
$color-1-1: #00c8c8
$color-1-2: #d7d7d7
$color-1-3: #ff0036
$color-1-4: #ed1c24
$color-1-5: #31415c
$color-1-6: #f7941d
$color-1-7: #ffff00
$color-1-8: #eecf00
$color-1-9: #252525
$color-2-0: #e1e1e1
$color-2-1: #96dbc9
$color-2-2: #0065f8
$color-2-3: #464646
$color-2-4: #868686





$bg-headfoot-color: $color-1-0
$head-font-color: $color-1-4
$primary-font-color: $color-2-3
$second-font-color: $color-2-4
$ondark-color: $color-1-2
$primary-accent-color: $color-1-1
$second-accent-color: $color-1-3
$bg-prim-color: $color-2-1
$bg-sec-color: $color-2-0
$third-accent-color: $color-1-6
$article-font-color: $color-1-5
$white-color: #ffffff
$hover-social: $color-2-2
$button-color: $color-1-9
$article-font-color: $color-1-0

$hot-bg: $color-1-6
$hot-font: $color-1-7

