.select-list
    > .select
        appearance: none
        background-color: $bg-headfoot
        border: none
        color: #fff
        user-select: none
        option
            background-color: transparent
            
.select-wrap
    >.select-list
        display: inline-block
     
